@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.mainheader{
    text-align: center;
    font-family: "Comic Neue", system-ui;
    font-size: 50px;
    color:white;
}

.bio{
    margin-left: 125px;
    font-family: "Comic Neue", system-ui;
    font-size: 15px;
    color:white;
}

.topnav{

}

